.active {
    color: #284c8a !important;
    font-weight: bold;
}
.interview-schedule-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    padding: 0 15px;
}

.calender {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.btn:hover {
    background-color: #464545c3;
    color: #fff;
}

.btn {
    cursor: pointer;
}

.days {
    height: 240px;
}
.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.days div {
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.days div:hover {
    background-color: white;
    color: orangered;
}
.days .today {
    background-color: orangered;
    color: #fff;
}

.days .c-fade {
    color: #464545c3;
}
.days .c-fade:hover{
    background-color: #464545c3;
    color: white;
}



@media (max-width: 960px) {
    .main {
        transform: translateX(400px);
        -webkit-transform: translateX(400px);
        -moz-transform: translateX(400px);
        -ms-transform: translateX(400px);
        -o-transform: translateX(400px);
    }
}
@media (max-width: 750px) {
    .main {
        transform: translateX(250px);
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
}
}
@media (max-width: 670px) {
    .main {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
}
}

@media (max-width: 600px) {
    .main {
        transform: translateX(150px);
        -webkit-transform: translateX(150px);
        -moz-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
}
}