.empDash .btn-primary,
.empDash .bg-primary {
  background-color: #284c8a !important;
  transition: transform 0.3s ease-in-out;
}

.empDash .btn-primary:hover {
  background-color: #1e3866 !important;
  transform: translateY(-3px);
}

.empDash .text-primary {
  color: #284c8a !important;
}

.empDash .btn-outline-primary {
  color: #284c8a !important;
  border-color: #284c8a !important;
}

.empDash .btn-outline-primary:hover {
  background-color: #284c8a !important;
  color: #fff !important;
}

.empDash.dashboard {
  background: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?auto=format&fit=crop&w=1600&q=80")
    no-repeat center center fixed;
  background-size: cover;
}

.empDash .welcome {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.empDash  .card {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.empDash  .card:hover {
  transform: translateY(-3px);
  /* background-color:  #f8fbff; */
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.active {
  color: #284c8a !important;
  font-weight: bold;
}

.footer-links > a:hover {
  color: black !important;
}

.empDash .nav-item {
  position: relative;
}

.empDash  .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #284c8a;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.empDash  .nav-link:hover::after,
.empDash  .nav-link.active::after {
  width: 100%;
}
