.interview-schedule-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    padding: 0 15px;
}

.calender {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.btn:hover {
    background-color: #464545c3;
    color: #fff;
}

.btn {
    cursor: pointer;
}

.days {
    height: 240px;
}
.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.days div {
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.days div:hover {
    background-color: white;
    color: orangered;
}
.days .today {
    background-color: orangered;
    color: #fff;
}

.days .c-fade {
    color: #464545c3;
}
.days .c-fade:hover{
    background-color: #464545c3;
    color: white;
}

.time-box:hover {
    transition: 0.3s;
    color: #fff;
    background-color: #284c8a;
    outline: #fff !important;
}

.react-calendar {
    width: 100% !important;
    max-width: 100% !important;
}


@media (max-width: 991.20px) {
    .interview-sidebar {
        width: 75% !important;
    }
}

@media (max-width: 600px) {
    .interview-sidebar {
        width: 100% !important;
    }
}
@media (max-width: 390px) {
    .interview-sidebar {
        padding: 5px !important;
        margin-left: 10px !important;
    }
}

