
    .card {
      border-radius: 12px;
    }
    .card-body h6 {
      font-weight: 600;
    }
    /* Custom container style */
    .custom-container {
      position: relative; 
      background: #fff; 
      border-radius: 10px; 
      box-shadow: 0px 0px 1px #171a1f12, 
                  0px 0px 2px #171a1f1F; 
      padding: 15px 20px 15px 50px;
      margin-bottom: 20px;
    }
    
    .custom-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: #007bff;
      border-radius: 10px 0 0 10px;
    }
    
    .notification-icon {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: #007bff;
    }
    .footer-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #171A1FFF; 
  text-decoration: none;
}

