.avatar {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto; /* يخلي الصورة في النص */
    }
    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    
    .upload-box {
      border: 2px dashed #d3d3d3;
      border-radius: 8px;
      padding: 40px;
      text-align: center;
      color: #6c757d;
      cursor: pointer;
      background: #fafafa;
    }
    .upload-box:hover {
      background: #f1f1f1;
    }
    .form-control-file {
      display: none;
    }
    .custom-file-label {
      margin-top: 15px;
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #0d6efd;
      border-radius: 6px;
      color: #0d6efd;
      background-color: #fff;
      cursor: pointer;
      font-weight: 500;
    }
    .custom-file-label:hover {
      background-color: #0d6efd;
      color: #fff;
    }