.footer-links>a:hover {
     color: black !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
  .contact{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    width: 100%;
    text-align: center;
  }
  .aside{
    text-align: center;
  }
}

body {
  overflow-x: hidden;
}

.page2 h1{ 
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  margin: 30px 0px 0px 80px;
  color: #171A1FFF; 
}
.extra-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; 
  padding-left: 15px;
  padding-right: 15px;
}
.container h2{
  font-size: 24px; 
  line-height: 24px; 
  font-weight: 600; 
  color: #171A1FFF; 
}
.container .subtitle{
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #565D6DFF; 
}
@media(max-width:768px){
  .page2 h1{
    margin: 30px auto 0 auto; 
    text-align: center; 
  }
  .container 
  {
    margin: auto; 
    text-align: center; 
  }
  .container .subtitle{
    margin: auto;
  }
}
.nav-pills {
  background: #F3F4F6FF; 
  border-radius: 6px; 
}
.nav-pills .flex-sm-fill {
  color: #565D6DFF;
}
.nav-pills .flex-sm-fill.active {
  color: black ;   
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  background: #FFFFFFFF; 
  border-radius: 4px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;             
}
.flex-sm-fill:not(.active):hover {
  color: #171A1FFF; 
  background: #DEE1E6FF; 
}
.nav-pills .nav-link:hover:active {
  color: #171A1FFF; 
  background: #BCC1CAFF; 
}
.nav-pills .flex-sm-fill:disabled {
  opacity: 0.4; 
}

thead th{
  font-size: 14px; 
  font-weight: 500; 
  color: #565D6DFF; 
}
tbody td{
  font-size: 14px; 
  font-weight: 400; 
  color: #171A1FFF; 
}
tbody .col1{
  font-weight: 500; 
  color: #171A1FFF; 
}
tbody .badge{
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 9999px;
}
tbody .pending{
  background-color: #F3F4F6FF;
  color:rgb(112, 107, 107);
}
tbody .Interviewing{
  background-color: #F59E0BFF;
  color:white;
}
tbody .Offered{
  background-color: #198754;
  color:white;
}
tbody .Rejected{
  background-color: #dc3545;
  color:white;
}

tr td .btn{
  border: 1px solid #22498c;
  color:#22498c;
}
tr td .btn:hover{
  color: white;
  background-color:#22498c;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container-lg{
  height: max-content;
}
